body
{
    margin: 0 auto;
}

.grid-container
{
    display: grid;
    grid-template-areas: 'header header header header header'
                         'content content content content content'
                         'inspiration inspiration inspiration inspiration inspiration'
                         'footer footer footer footer footer';
    height: auto;
}

.header
{
    grid-area: header;
}

.nav
{
    padding: 0.5em;
    text-align: center;
    font-size: 30px;
    background-color: #01383D;
    text-transform: uppercase;
    font-family: "Playfair Display", sans-serif;
}

.nav li
{
    list-style-type: none;
    display: inline;
    padding: 0.2em;   
}

.header-link
{
    text-decoration: none;
    color: #bceae7;
}

.header-link:hover
{
    color: #8cb6b3; 
}

.content
{
    grid-area: content;
    color: #01383D;
}

.top-content
{
    display: grid;
    grid-template-areas: 'image description description description description'
                         'image description description description description'
                         'image description description description description'
                         'image description description description description';
    background-color: #d3c6b7;
}

.top-image
{
    grid-area: image;
    margin-top: 20px;
    margin-left: 10%;
    margin-right: 200px;
    margin-bottom: 20px;
    width: 800px;
    height: 900px;
    box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.30);
}

.top-content-description
{
    grid-area: description;
    margin-top: 40%;
    font-size: 61px;
    font-family: "Source Sans 3", sans-serif;
}

.middle-content
{
    display: grid;
    grid-template-areas: 'description description description description image'
                         'description description description description image'
                         'description description description description image'
                         'description description description description image';
    margin-top: 50px;
    margin-bottom: 50px;
}

.middle-image
{
    grid-area: image;
    margin-right: 60px;
    width: 800px;
    height: 900px;
    box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.30);
}

.middle-content-description
{
    grid-area: description;
    font-size: 50px;
    margin-top: 28%;
    margin-left: 50px;
    font-family: "Source Sans 3", sans-serif;
}

.bottom-content
{
    display: grid;
    grid-template-areas: 'image description description description description'
                         'image description description description description'
                         'image description description description description'
                         'image description description description description';
    background-color: #d3c6b7;
}

.bottom-image
{
    grid-area: image;
    margin-top: 20px;
    margin-left: 10%;
    margin-right: 100px;
    margin-bottom: 20px;
    width: 800px;
    height: 900px;
    box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.30);
}

.bottom-content-description
{
    grid-area: description;
    margin-top: 40%;
    font-size: 61px;
    margin-left: 40px;
    margin-right: 30px;
    font-family: "Source Sans 3", sans-serif;
}

.inspiration-content
{
    grid-area: inspiration;
}

.inspitation-title
{
    text-align: center;
    font-size: 50px;
    color: #01383D;
}

.inspiration-description
{
    font-size: 25px;
    margin-left: 5%;
    width: 90%;
    font-family: "Source Sans 3", sans-serif;
    word-spacing: 0.2em;
    color: #01383D;
    text-indent: 20px;
}

.footer
{
    grid-area: footer;
    background-color: #01383D;
}

.footer ul 
{
    justify-content: center;
    text-align: center;
}

.footer ul li 
{
    display: inline-block;
}

.footer-logo
{
    width: 40px;
}