body
{
    margin: 0 auto;
}

.grid-container
{
    display: grid;
    grid-template-areas: 'header header header header header'
                         'content content content content content'
                         'footer footer footer footer footer';
    
    height: auto;
}

.header
{
    grid-area: header;
    
}

.header-link
{
    text-decoration: none;
    padding: 20px;
    color: #bceae7;
    transition: 0.3s;
    margin: 0 6px;
    z-index: 1;
    position: relative;
}

.header-link::before
{
    content: "";
    position: absolute;
    bottom: -6px;
    left: 0;
    width: 100%;
    height: 5px;
    background-color: #d3c6b7;
    opacity: 0;
    transition: 0.3s;
}

.header-link:not(.is-active):hover::before
{
    opacity: 1;
    bottom: 0;
}

.header-link:not(.is-active):hover
{
    color: #48968f;
}

.nav-indicator
{
    position: absolute;
    left: 0;
    bottom: 0;
    height: 4px;
    transition: 0.4s;
    height: 5px;
    z-index: 1;
    border-radius: 8px 8px 0 0;
}

.nav
{
    display: inline-flex;
    position: relative;
    overflow: hidden;
    width: 94.2%;
    padding: 0 55px;
    text-align: center;
    font-size: 30px;
    background-color: #01383D;
    text-transform: uppercase;
    font-family: "Playfair Display", sans-serif;
}


.nav li
{
    list-style-type: none;
}


.Content
{
    color: #01383D;
    grid-area: content;
}

.top-content
{
    display: grid;
    grid-template-areas: 'image description description description description'
                         'image description description description description'
                         'image description description description description'
                         'image description description description description';
    background-color: #d3c6b7;
}

.top-content-description
{
    grid-area: description;
    margin-top: 40%;
    font-size: 61px;
    margin-left: 40px;
    font-family: "Source Sans 3", sans-serif;
}


.portrait-image
{
    grid-area: image;
    margin-top: 20px;
    margin-left: 10%;
    margin-right: 100px;
    margin-bottom: 20px;
    width: 700px;
    height: 1000px;
    box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.30);
}

.middle-content
{
    display: grid;
    grid-template-areas: 'description description description description image'
                         'description description description description image'
                         'description description description description image'
                         'button button button button image'
                         'button button button button image';

    margin-top: 50px;
    margin-bottom: 50px;
}

.accomplishment-image
{
    margin-right: 200px;
    width: 400px;
    height: 500px;
    grid-area: image;
    box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.30);
}

.middle-content-description
{
   grid-area: description; 
   font-size: 50px;
   margin-left: 20px;
   font-family: "Source Sans 3", sans-serif;
}

.middle-content-button
{
    grid-area: button;
    border: none;
    background-color: #01383D;
    color: #bceae7;
    font-size: 30px;
    width: 500px;
    height: 100px;
    cursor: pointer;
    border-radius: 10px;
    margin-left: 50%;
    font-family: "Playfair Display", sans-serif;
}

.middle-content-button:hover
{
    color: #8cb6b3; 
}



.bottom-content
{
    display: grid;
    grid-template-areas: 'image description description description description'
                         'image description description description description'
                         'image description description description description'
                         'image description description description description';
    background-color: #d3c6b7;
}

.hobby-image
{
    grid-area: image;
    margin-top: 20px;
    margin-left: 10%;
    margin-right: 100px;
    margin-bottom: 20px;
    width: 800px;
    height: 900px;
    box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.30);
}

.bottom-content-description
{
    grid-area: description;
    margin-top: 40%;
    font-size: 61px;
    margin-left: 40px;
    font-family: "Source Sans 3", sans-serif;
}

.footer
{
    background-color: #01383D;
    grid-area: footer;
}

.footer ul 
{
    justify-content: center;
    text-align: center;
}

.footer ul li 
{
    display: inline-block;
}

.footer-logo
{
    width: 40px;
}

@media screen and (max-width: 1440px) 
{

    .top-content-description
    {
        font-size: 51px;
        margin-left: 0;
    }

    .portrait-image
    {
        width: 500px;
        height: 700px;
        margin-left: 75px;
    }

    .accomplishment-image
    {
        margin-right: 100px;
    }

    .middle-content-description
    {
        font-size: 40px;
        margin-left: 60px;
        margin-top: 125px;
    }

    .middle-content-button
    {
        margin-left: 30%;
    }

    .hobby-image
    {
        width: 500px;
        height: 600px;
    }

    .bottom-content-description
    {
        margin-top: 30%;
        font-size: 51px;
    }

}

@media screen and (max-width: 1240px) 
{
    .top-content-description
    {
        font-size: 41px;
        margin-left: 0;
    }

    .portrait-image
    {
        width: 400px;
        height: 600px;
        margin-left: 50px;
        margin-right: 40px;
    }

    .accomplishment-image
    {
        width: 400px;
        height: 500px;
        margin-right: 50px;
    }

    .middle-content-description
    {
        font-size: 35px;
        margin-left: 60px;
        margin-top: 125px;
        margin-right: 10px;
    }

    .middle-content-button
    {
        width: 400px;
        height: 75px;
        margin-left: 20%;
    }

    .hobby-image
    {
        width: 400px;
        height: 500px;
    }

    .bottom-content-description
    {
        margin-top: 40%;
        font-size: 41px;
    }
}

@media screen and (max-width: 940px) 
{
    .top-content-description
    {
        font-size: 31px;
        margin-left: 0;
    }

    .portrait-image
    {
        width: 300px;
        height: 500px;
        margin-left: 50px;
        margin-right: 40px;
    }

    .accomplishment-image
    {
        width: 300px;
        height: 400px;
        margin-right: 50px;
    }

    .middle-content-description
    {
        font-size: 25px;
        margin-left: 60px;
        margin-top: 125px;
        margin-right: 10px;
    }

    .middle-content-button
    {
        width: 250px;
        height: 50px;
        margin-left: 30%;
        font-size: 23px;
    }

    .hobby-image
    {
        width: 300px;
        height: 400px;
        margin-right: 75px;
    }

    .bottom-content-description
    {
        margin-top: 40%;
        margin-left: 0;
        font-size: 31px;
    }
}

@media screen and (max-width: 684px) and (min-width: 320px)
{
    .nav
    {
        font-size: 20px;
    }

    .top-content
    {
        grid-template-areas: 'image image image image'
                             'description description description description';
    }

    .top-content-description
    {
        font-size: 31px;
        margin-left: 40px;
        margin-top: 10px;
    }

    .portrait-image
    {
        width: 350px;
        height: 500px;
        margin-left: 20%;
        margin-right: 0;
    }

    .middle-content
    {
        grid-template-areas: 'image image image image'
                             'description description description description'
                             'button button button button';
    }

    .accomplishment-image
    {
        width: 350px;
        height: 400px;
        margin-right: 0;
        margin-left: 20%;
    }

    .middle-content-description
    {
        font-size: 29px;
        margin-left: 40px;
        margin-top: 25px;
    }

    .middle-content-button
    {
        width: 250px;
        height: 50px;
        margin-left: 65%;
        font-size: 23px;
    }

    .bottom-content
    {
        grid-template-areas: 'image image image image'
                             'description description description description';
    }

    .hobby-image
    {
        width: 300px;
        height: 375px;
        margin-top: 50px;
        margin-left: 20%;
        margin-right: 0;
        margin-bottom: 0;
    }

    .bottom-content-description
    {
        margin-top: 25px;
        margin-left: 70px;
        font-size: 23px;
    }
}

